<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The So-Called-Company</title>
    <link rel="stylesheet" href="\mycss\style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- Pankaj -->
    <div class="container c1">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a href="#" class="navbar-brand"> <img src="mungaliya.png">MUNGALIYA HAT</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbaraid">
                    <span class="navbar-toggler-icon"> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbaraid">
                    <ul class="navbar-nav text-center ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contect</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- <div class="container c2">
            <h1>Welcome to Mungaliya Hat</h1>
        </div> -->
        <div class="grid-container c3">
            <div class="bg-image" style="background-image: url('/src/dot.jpeg');"></div>
            <div class="bg-text">
                <h1>Mungaliya Hat</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nostrum sapiente incidunt nihil, et ut corporis doloribus dicta id magnam, quas, cumque necessitatibus tempore neque laudantium modi fuga soluta porro.</p>
            </div>
        </div>
        <div class="places">
            <div class="exqui">POPULATION</div>
            <div class="exqui">Total land</div>
            <div class="exqui">Places</div>
        </div>
        <div class="places1">
            <div class="cards" style="background-image: url('/src/thumb-1920-598673.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="cards" style="background-image: url('/src/thumb-1920-598673.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="cards" style="background-image: url('/src/thumb-1920-598673.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="places2">
            <div class="cards" style="background-image: url('/src/thumb-1920-598673.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="cards" style="background-image: url('/src/thumb-1920-598673.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <!-- Nehal's -->
        <h2 class="title-for">Places</h2>
        <div class="container-places two">
            <div class="cards" style="background-image: url('/src/41080.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="cards" style="background-image: url('/src/41089.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="container-places three">
            <div class="cards" style="background-image: url('/src/landscape.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="cards" style="background-image: url('/src/naime-lan.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="cards" style="background-image: url('/src/thumb-1920-598673.jpg');">
                <div class="card-info">
                    <h3>place name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <h2 class="title-for">Total Land</h2>
        <div class="container-places map">
            <a href="https://www.google.com/maps/place/Mugaliya+Hat,+Madhya+Pradesh+462030/data=!4m2!3m1!1s0x397c63c24eaad427:0xa7e52ea643b90d7f?sa=X&ved=2ahUKEwiR0pacqqruAhVzyDgGHaFlBqIQ8gEwCnoECBUQAQ"><img src="/src/Screenshot (42).png" style="border-radius: 6px;" alt=""></a>
            <div class="info-mugl">
                <div class="Mugl-title">
                    <h2>Mungaliya Hat</h2>
                    <h3></h3>
                </div>
                <!-- <p>Mugaliya Hat is a village in the Bhopal district of Madhya Pradesh, India. It is located in the Huzur tehsil and the Phanda block.</p> -->
                <div class="got">
                    <div class="gotleft">
                        <span class="bold">District:</span><span> Bhopal</span><br>
                        <span class="bold">State:</span><span> Madhya Predesh</span><br>
                        <span class="bold">Tahsil:</span><span> Huzur</span><br>
                        <span class="bold">Block:</span><span> Phanda</span><br>
                    </div>
                    <div class="gotright" style="margin-left: 30px;">
                        <span class="bold">Weather:</span><span> 23 °C, 71% humidity</span><br>
                        <span class="bold">Population:</span><span> 2162 ( As per of 2011 )</span><br>
                        <span class="bold">Elevation:</span><span> 521 m</span><br>
                        <span class="bold">ISO 3166 code:</span><span> ISO 3166-2:IN</span><br>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="title-for">Total Population</h2>
        <div class="container-places graphcost">
            <div class="graph">
                <div class="bars">
                    <div class="graphbars" style="height: 160px; margin-top: 150px; margin-left: 10%;"><span>1998</span></div>
                    <div class="graphbars" style="height: 190px; margin-top: 120px;"><span>2000</span></div>
                    <div class="graphbars" style="height: 210px; margin-top: 100px;"><span>2010</span></div>
                    <div class="graphbars" style="height: 250px; margin-top: 60px;"><span>2015</span></div>
                    <div class="graphbars" style="height: 290px; margin-top: 20px;"><span>2019</span></div>
                </div>
                <div id="column3" class="collapse in">
                    <table class="table table1 table-striped table-hover ">
                        <thead>
                            <tr>
                                <th width="200px">Particulars</th>
                                <th>Total</th>
                                <th>Male</th>
                                <th>Female</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total No. of Houses</td>
                                <td><b>423</b></td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Population</td>
                                <td><b>2,162</b></td>
                                <td>1,088</td>
                                <td>1,074</td>
                            </tr>
                            <tr>
                                <td>Child (0-6)</td>
                                <td><b>285</b></td>
                                <td>138</td>
                                <td>147</td>
                            </tr>
                            <tr>
                                <td>Schedule Caste</td>
                                <td><b>500</b></td>
                                <td>240</td>
                                <td>260</td>
                            </tr>
                            <tr>
                                <td>Schedule Tribe</td>
                                <td><b>0</b></td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td><b>68.51 %</b></td>
                                <td>80.63 %</td>
                                <td>56.09 %</td>
                            </tr>
                            <tr>
                                <td>Total Workers</td>
                                <td><b>1,018</b></td>
                                <td>611</td>
                                <td>407</td>
                            </tr>
                            <tr>
                                <td>Main Worker</td>
                                <td><b>464</b></td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Marginal Worker</td>
                                <td><b>554</b></td>
                                <td>191</td>
                                <td>363</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="review-container" id="bin">
            <div id="email-input" class="email-input"><input onclick="say()" type="email" placeholder="Email" name="email" id="email" required></div>
            <div class="textbox-input" id="textbox-input"><textarea onclick="say1()" name="comment" placeholder="Enter you review here....." id="comment" cols="30" rows="10" required></textarea></div>
            <div class="bibutton">
                <button id="send"><span id="pen">Share</span></button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>